body{
    background-color:black;
    margin-top: 8%;
}
.big-title{
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}
.margin-centered{
    margin-left:10%;
}
/*add responsiveness*/
.container{
    margin-left:0.5%;
    display:grid;
    gap:15px;
    grid-template-rows:1fr 2fr;
    grid-template-columns:1fr 1fr 1fr;
    height:40%;
}
.headings{
    display:flex;
    flex-direction:row;
    width:100%;
    height:10vh;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
}
.one,.two,.three,.four,button{
    height:40px;
    width:60px;
    background-color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.run{
    align-self:flex-end;
    color:white;
    background-color:rgb(17, 109, 78);
}
label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.html, .css, .js, .result{
    display:none;
}
.html.open, .css.open, .js.open, .result.open{
    display:grid;
}
.result.open{
    grid-column:span 3;
}
@media(max-width:500px){
    .container{
        margin-left:0.5%;
        display:grid;
        gap:10px;
        grid-template-rows:1fr 1fr 1fr 3fr;
        grid-template-columns:1fr;
        height:40%;
    }
    .result.open{
        grid-column:span 1;
    }
    .one,.two,.three,.four,button{
        height:40px;
        width:55px;
        font-size:12px;
    }
}
